spring:
  datasource:
    url: jdbc:mysql://localhost:3306/fastlane?serverTimezone=UTC&characterEncoding=UTF-8
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: fastlane
    password: fastlane

  flyway:
    enabled: false

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true  #Jpa show-sql 시 나오는 쿼리를 정렬해서 출력
        default_batch_fetch_size: 500  #Lazy 로딩 시 한 번에 가져올 개수 지정.
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect

logging:
  level:
    bbangduck.bd.bbangduck: debug
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace
    org.springframework.security: debug #spring security에 대해 어떤 메세지가 출력이 되는지 확인

security:
  jwt:
    access-token-valid-seconds: 30000
    refresh-token-valid-days: 14
    secret-key: wovnzviowtjghgaf1927zg1
